html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ol, ul, li {
    list-style-type: none;
}

body {
    background-image: linear-gradient(white, lightblue);
}

html {
    font-size: 62.5%;
}

html, button {
    font-family: 'Cabin', sans-serif;
}

.statusA, .statusB, .rezultat {
    font-family: 'Indie Flower', cursive;
}

.uputstvo {
    font-family: 'Scada', sans-serif;
}

.hidden {
    visibility: hidden;
}

.nestani{
    display: none;
}

div {
    font-size: 2.5rem;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
}

h3 {
    font-size: 2.5rem;
    text-align: center;
    margin: 3rem;
}

div.pravila {
    font-size: 2rem;
}

header {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: flex-end;
    padding: 0.5rem;
    background-color: rgb(9, 171, 224);
}

.settings_wraper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 40rem;
    line-height: 2rem;
    font-size: 2rem;
    margin-left: 3rem;
    position: relative;
}

.settings {
    position: absolute;
    background-color: rgb(9, 171, 224);
    width: 35rem;
    top: 2.5rem;
    font-size: 2rem;
    z-index: 1000;
    border-top: 1px solid black;
    line-height: 4rem;
    display: none;
    cursor: pointer;
    height:0rem;
    overflow: hidden;
}

@keyframes padajuci_meni{
    0% {
        height: 0rem;
    }

    10% {
        height: 3.2rem;
    }

    20% {
        height: 6.4rem;
    }

    30% {
        height: 9.6rem;
    }

    40% {
        height: 12.8rem;
    }

    50% {
        height: 16rem;
    }

    60% {
        height: 19.2rem;
    }

    70% {
        height: 22.4rem;
    }

    80% {
        height: 25.6rem;
    }

    90% {
        height: 28.8rem;
    }

    100% {
        height: 32rem;
    }
}

#meni_za_podesavanja:hover .settings {
    display: block;
    animation: padajuci_meni 0.4s;
    animation-timing-function: linear;
    height: auto;
}

.uputstvo {
    color: black;
    padding-left: 3rem;
    cursor: pointer;
}

.uputstvo a:link {
    color: black;
}

.uputstvo a:hover {
    color: black;
}

.uputstvo a:active {
    color: black;
}

.uputstvo a:visited {
    color: black
}


#dodatna_podesavanja {
    color: darkblue;
    padding-left: 1.5rem;
    cursor: pointer;
}

label{
    padding-left: 0.5rem;
    cursor: pointer;
}

.podesavanje_kartica {
    border: 0.25rem solid black;
    background-color: lightblue;
    width: 80rem;
    height: auto;
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 8;
    box-shadow: 0.1rem 0.5rem 1rem rgba(0,0,0,0.3);
    transition: 0.3s;
}

.podesavanje_kartica:hover{
    box-shadow: 0.1rem 1rem 2rem rgba(0,0,0,0.3);
}

.kratko_uputstvo {
    border: 0.25rem solid black;
    background-color: lightblue;
    width: 100rem;
    height: auto;
    position: absolute;
    top: 52.3%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    box-shadow: 0.1rem 0.5rem 1rem rgba(0,0,0,0.3);
    transition: 0.3s;
}

.kratko_uputstvo:hover{
    box-shadow: 0.1rem 1rem 2rem rgba(0,0,0,0.3);
}

.kartica_header {
    position: relative;
    top: 0rem;
    height: 3rem;
    width: 100%;
    background-color: rgb(9, 171, 224);
    padding-left: 1rem;
}

.opcije {
    padding: 3rem;
}

.opcije2 {
    padding: 5rem;
}

.center {
    display: flex;
    justify-content: center;
}

.dugmePodesavanje {
    width: 12rem;
    height: 4rem;
    background-color: rgb(9, 171, 224);
    box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.4);
    margin: 1rem;
    cursor: pointer;
    transition: transform 0.3s;
}

.dugmePodesavanje:hover {
    background-color: white;
    box-shadow: none;
    transform: scale(0.9);
}

.duzina_after:hover::after{
    content: "0-10 s";
    font-size: 1.5rem;
    line-height: 1.5rem;
    position: absolute;
    top: 21rem;
    left: 10rem;
    background-color: rgb(9, 171, 224);
    width: auto;
    padding: 0.7rem;
}

.duzina_after_2:hover::after{
    content: "0-10 s";
    font-size: 1.5rem;
    line-height: 1.5rem;
    position: absolute;
    top: 27rem;
    left: 10rem;
    background-color: rgb(9, 171, 224);
    width: auto;
    padding: 0.7rem;
}

.igra {
    position: relative;
}

.igra::before {
    content: "";
    background-image: url(Yut-nori.jpg);
    opacity: 0.6;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1000;
}

.tabla {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.wraper {
    width: 67.7rem;
    height: 67.7rem;
    background-color: lightskyblue;
    text-align: center;
    opacity: 0.9;
    border-radius: 3rem;
    border: 0.1rem solid black;
    box-shadow: 0.6rem 0.6rem 1rem rgba(0, 0, 0, 0.5);
    position: relative;
}

.crtez{
    width: 67.7rem;
    height: 67.7rem;
    position: absolute;
    border-radius: 3rem;
    opacity:0.5;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url('tabla_yut_nori_2.png');
}

.gornji_donji {
    display: flex;
    width: 67.5rem;
    height: 9rem;
    justify-content: space-between;
}

.srednji {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    width: 67.5rem;
    height: 49.5rem;
}

.levi_desni {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 9rem;
    height: 49.5rem;
}

.u_sredini {
    width: 45rem;
    height: 49.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.centralni {
    display: grid;
    grid-template-columns: repeat(5, 9rem);
    grid-template-rows: repeat(5, 9rem);
    justify-items: center;
    align-items: center;
}

div.polje {
    border-radius: 4.5rem;
    width: 9rem;
    height: 9rem;
    text-align: center;
    line-height: 9rem;
    font-size: 9rem;
    opacity: 1;
}

.poljeN {
    background-color: rgb(20, 20, 236);
    color: red;
    opacity: 1;
    z-index: 5;
}

.poljeN2 {
    background-image: url(220px-Taegeuk.svg.png);
    background-size: cover;
    opacity: 1;
    z-index: 5;
}

.mal {
    background-size: cover;
    opacity: 1;
    z-index: 100;
    border-radius: 3rem;
    width: 6rem;
    height: 6rem;
    text-align: center;
    line-height: 6rem;
    font-size: 5rem;
    position: absolute;
    top: 60rem;
}

.malA {
    background-image: url(Realistic_White_Go_Stone.svg.png);
    right: 1.5rem;
    color: black;
}

.malA:hover::after {
    content: "Dodatne opcije na desni klik.";
    font-size: 1.5rem;
    line-height: 1.5rem;
    position: absolute;
    top: 110%;
    left: -50%;
    background-color: rgb(170, 228, 243);
    width: 20rem;
}

.malB {
    background-image: url(Realistic_Go_Stone.svg.png);
    right: 1.5rem;
    color: white;
}

.malB:hover::after {
    content: "Dodatne opcije na desni klik.";
    font-size: 1.5rem;
    line-height: 1.5rem;
    position: absolute;
    top: 110%;
    left: -50%;
    background-color: rgb(6, 105, 129);
    color: white;
    width: 20rem;
}

.ruka{
    cursor: grab;
    transition: box-shadow 0.5s;
}

.vuci_rukom{
    cursor: grabbing;
    box-shadow: 0.1rem 1rem 2rem rgba(0, 0, 0, 0.8);
    transition: box-shadow 0.5s;
}

.meni {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.meniA {
    display: flex;
}

.meniC {
    display: flex;
}

.meniB {
    display: flex;
}

.dugmeMeni {
    width: 12rem;
    height: 4rem;
    background-color: deepskyblue;
    box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.4);
    margin: 1rem;
    cursor: pointer;
    margin-left: 2rem;
    transition: all 0.3s;
}

.dugmeMeni:hover {
    background-color: white;
    transform: scale(0.9);
    box-shadow: none;
}

#potez:hover::after {
    content: "Na tastaturi: B ili Space";
    font-size: 1.5rem;
    line-height: 1.5rem;
    position: absolute;
    top: 120%;
    left: 20%;
    background-color: rgb(165, 220, 238);
    width: 15rem;
    padding: 0.7rem;
}

#zavrsen_potez:hover::after {
    content: "Na tastaturi: Enter";
    font-size: 1.5rem;
    line-height: 1.5rem;
    position: absolute;
    top: 120%;
    left: 35%;
    background-color: rgb(165, 220, 238);
    width: 15rem;
    padding: 0.7rem;
}

#reset:hover::after {
    content: "Na tastaturi: Escepe";
    font-size: 1.5rem;
    line-height: 1.5rem;
    position: absolute;
    top: 120%;
    left: 30%;
    background-color: rgb(165, 220, 238);
    width: 15rem;
    padding: 0.7rem;
}

.dugmeA {
    width: 12rem;
    height: 4rem;
    margin: 1rem;
    color: blue;
    box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all 0.3s;
}

.dugmeA:hover {
    background-color: deepskyblue;
    transform: scale(0.9);
    box-shadow: none;
}

#dodajMalA:hover::after {
    content: "Na tastaturi: A";
    font-size: 1.5rem;
    line-height: 1.5rem;
    position: absolute;
    top: 120%;
    left: 45%;
    background-color: rgb(165, 220, 238);
    width: 10rem;
    padding: 0.7rem;
}

#dodajA:hover::after {
    content: "Na tastaturi: 1";
    font-size: 1.5rem;
    line-height: 1.5rem;
    position: absolute;
    top: 120%;
    left: 45%;
    background-color: rgb(165, 220, 238);
    width: 10rem;
    padding: 0.7rem;
}

.dugmeB {
    width: 12rem;
    height: 4rem;
    margin: 1rem;
    color: white;
    background: rgb(82, 81, 81);
    box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all 0.3s;
    border-color: rgb(53, 52, 52);
}

.dugmeB:hover {
    background-color: blue;
    transform: scale(0.9);
    box-shadow: none;
}

#dodajMalB:hover::after {
    content: "Na tastaturi: D";
    font-size: 1.5rem;
    line-height: 1.5rem;
    position: absolute;
    top: 120%;
    left: 45%;
    background-color: rgb(47, 92, 107);
    color: white;
    width: 10rem;
    padding: 0.7rem;
}

#dodajB:hover::after {
    content: "Na tastaturi: 3";
    font-size: 1.5rem;
    line-height: 1.5rem;
    position: absolute;
    top: 120%;
    left: 45%;
    background-color: rgb(47, 92, 107);
    color: white;
    width: 10rem;
    padding: 0.7rem;
}

.rezultat {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.statusA {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(247, 235, 235);
    color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    width: 30rem;
    border-radius: 10rem;
    box-shadow: 0.6rem 0.4rem 0.2rem rgba(179, 179, 219, 0.6);
}

.statusB {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: dimgray;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    width: 30rem;
    border-radius: 10rem;
    box-shadow: 0.6rem 0.4rem 0.2rem rgba(47, 54, 56, 0.6);
}

.potez {
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    font-style: italic;
    text-align: center;
    width: 35rem;
    border-radius: 10rem;
    box-shadow: 0.6rem 0.4rem 0.2rem rgba(114, 117, 138, 0.6);
}

#obavestenje {
    color: red;
    font-weight: bold;
}

footer {
    background-color: lightblue;
    height: auto;
    width: 100%;
   
}

.bottom_absolute{
    position: absolute;
    bottom:0;
}

figure {
    text-align: center;
}

figure img {
    width: 60%;
    height: auto;
}

.okvir {
    border: 0.2rem solid red;
}

.okvirT {
    border: 0.4rem solid red;
}

.okvirTT {
    border: 0.4rem solid red;
}

.okvir2 {
    border: 0.5rem solid rgb(73, 252, 73);
}

.okvirZ{
    border: 0.5rem solid rgb(73, 252, 73);
    border-radius: 50%;
}

.animacija {
    width: 50rem;
    height: 50rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#korejski {
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
}

.do {
    background-image: url('Do.jpg');
}

.ge {
    background-image: url('Ge.jpg');
}

.geol {
    background-image: url('Geol.jpg');
}

.yut {
    background-image: url('Yut.jpg');
}

.mo {
    background-image: url('Mo.jpg');
}

.back {
    background-image: url('Back.jpg');
}

#slika_stapova{
    height: 30rem;
    width: auto;
}

.nabrajanje{
    list-style-type: decimal;
}

.nabrajanje li{
    list-style-type: decimal;
}

.veliko_dugme{
    width: 30rem;
}

.pravila{
    padding: 5rem;
}

.pravila p{
    text-indent: 2rem;
}

.pravila a:link {
    color: blue;
}

.pravila a:hover {
    color: red;
}

.pravila a:active {
    color: red;
}

.pravila a:visited {
    color: blue
}

.desni_meni {
    position: fixed;
    background-color:  rgb(170, 228, 243);
    cursor: pointer;
    top: -500px; 
    left: -500px;
    z-index:10000;
    padding: 0.3rem;
    font-size: 2.2rem;
    box-shadow: 0.1rem 0.3rem 0.6rem rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s;
}

.desni_meni:hover {
    box-shadow: 0.1rem 0.6rem 1.2rem rgba(0, 0, 0, 0.5);
}

.deo_desni_meni{
    border-bottom: 0.1rem solid black;
}

.deo_desni_meni:last-of-type{
    border-bottom: none;
}

.deo_desni_meni:hover{
    background-color: rgb(104, 104, 199);
    color: white;
}

@media screen and (max-width:1000px) {
    html {
        font-size: 50%;
    }
    
}

@media screen and (max-height:930px) {
    html {
        font-size: 50%;
    }
    
}

@media screen and (max-width:800px) {
    html {
        font-size: 35%;
    }
    
}

@media screen and (max-height:744px) {
    html {
        font-size: 35%;
    }
    
}